
#bagua-table th {
    text-align: center;
    font-weight: bold;
}

#bagua-table td {
    width: 150px;
    white-space: nowrap;
    text-align: center;
    vertical-align: bottom;
    padding-top: 5px;
    padding-bottom: 12px;
    border: 1px solid black;
    background-color: beige;
}
.okBtn{
position: absolute;
}
.textarea{
    width: auto;
    height: auto;

}
