* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
    min-width: 800px;
    margin: 0 auto;
}

.header-h1 {
    color: #ead7d7;
    font-size: 6.5rem;
    font-weight: 200;
    font-family: sans-serif;
    margin: 15px 0 10px 0;
}

#main {
    width: 550px;
    box-shadow: 0 7px 20px 5px rgb(221, 215, 215);
    margin-bottom: 50px;
}

#mainForm {
    position: relative;
}

#selectArrow {
    position: absolute;
    left: 18px;
    bottom: 26.5px;
    color: #e6e6e6;
    display: none;
}

#mainInput {
    background-color: #fefefe;
    border-bottom: 2px solid #f6f6f6;
    padding: 18px 18px 18px 60px;
    cursor: auto;
}

input::placeholder {
    font-size: 26px;
    font-style: italic;
    color: #e6e6e6;
}

input {
    width: 100%;
    font-size: 28px;
    background-color: #ffffff;
    padding: 15px 18px 15px 60px;
    border: none;
    border-top: 1px solid #ededed;
    cursor: default;
    color: #4d4d4d;
}

input:focus {
    outline: none;
}

.createForm {
    position: relative;
}

.createForm:hover .delete {
    visibility: visible;
}

input[type="checkbox"] {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 19px;
    bottom: 25px;
}

.delete {
    position: absolute;
    right: 20px;
    bottom: 23.5px;
    color: #cc9a9a;
    visibility: hidden;
}

.delete:hover {
    color: #af5b5e;
    transition: linear 200ms;
}

#bottomMenu {
    width: 550px;
    background-color: #ffffff;
    height: 40px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #c5c5c5;
    font-family: sans-serif;
    font-size: 14px;
    color: #777777;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 10px 0px -5px #f6f6f6, 0px 10px 0px -4px #c5c5c5, 0px 20px 0px -10px #f6f6f6, 0px 20px 0px -9px #c5c5c5;
}

#activeAmount {
    position: absolute;
    left: 15px;
    bottom: 12px;
}

#clearChecked {
    position: absolute;
    right: 15px;
    bottom: 12px;
    cursor: pointer;
}

#clearChecked:hover {
    text-decoration: underline;
}

#all {
    border: 1px solid #efd5d5;
    border-radius: 4px;
}

.menuOptions {
    padding: 2px 7px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.hide {
    display: none;
}

.create-todo {
    position: relative;
}

.create-todo :hover {
    background-color: #ededed;
}

.create-todo:hover :last-child {
    display: block;
}

.buttonDeleteRow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: none;
    background-color: rgb(146, 140, 140);
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: center;
    cursor: pointer;
}
.buttonDeleteRow:hover{
    background-color: red;
    border-radius: 50%;
}
#bottomMenu>input {
    display: none
}

#bottomMenu>input:checked {
    background-color: #af5b5e;
}

#bottomMenu>label {
    padding: 5px;
    cursor: pointer;
}

#bottomMenu>label:hover {
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgb(206, 203, 203);
}

#bottomMenu>input:checked+label {
    background: rgb(245, 238, 238);
    border: 1px solid rgb(206, 203, 203);
}

del::before,
del::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

del::before {
    content: " [deletion start] ";
}

del::after {
    content: " [deletion end] ";
}

#clearAll,
#clearComplited {
    margin: 7px;
    padding: 4px;
}