* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
    min-width: 800px;
    margin: 0 auto;
}

.header-h1 {
    color: #ead7d7;
    font-size: 6.5rem;
    font-weight: 200;
    font-family: sans-serif;
    margin: 15px 0 10px 0;
}

#main {
    width: 550px;
    box-shadow: 0 7px 20px 5px rgb(221, 215, 215);
    margin-bottom: 50px;
}

#mainForm {
    position: relative;
}

#selectArrow {
    position: absolute;
    left: 18px;
    bottom: 26.5px;
    color: #e6e6e6;
    display: none;
}

#mainInput {
    background-color: #fefefe;
    border-bottom: 2px solid #f6f6f6;
    padding: 18px 18px 18px 60px;
    cursor: auto;
}

input::placeholder {
    font-size: 26px;
    font-style: italic;
    color: #e6e6e6;
}

input {
    width: 100%;
    font-size: 28px;
    background-color: #ffffff;
    padding: 15px 18px 15px 60px;
    border: none;
    border-top: 1px solid #ededed;
    cursor: default;
    color: #4d4d4d;
}

input:focus {
    outline: none;
}

.createForm {
    position: relative;
}

.createForm:hover .delete {
    visibility: visible;
}

input[type="checkbox"] {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 19px;
    bottom: 25px;
}

.delete {
    position: absolute;
    right: 20px;
    bottom: 23.5px;
    color: #cc9a9a;
    visibility: hidden;
}

.delete:hover {
    color: #af5b5e;
    transition: linear 200ms;
}

#bottomMenu {
    width: 550px;
    background-color: #ffffff;
    height: 40px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #c5c5c5;
    font-family: sans-serif;
    font-size: 14px;
    color: #777777;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 10px 0px -5px #f6f6f6, 0px 10px 0px -4px #c5c5c5, 0px 20px 0px -10px #f6f6f6, 0px 20px 0px -9px #c5c5c5;
}

#bottomMenu>input {
    display: none;
}

#bottomMenu>label {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

#bottomMenu>label:hover {
    cursor: pointer;
    border: 1px solid rgb(206, 203, 203);
}

#bottomMenu>input:checked +label {
    background-color: rgb(245, 238, 238);
    border: 1px solid rgb(206, 203, 203);
}
#activeAmount {
    position: absolute;
    left: 15px;
    bottom: 12px;
}

#clearChecked {
    position: absolute;
    right: 15px;
    bottom: 12px;
    cursor: pointer;
}

#clearChecked:hover {
    text-decoration: underline;
}

#all {
    border: 1px solid #efd5d5;
    border-radius: 4px;
}

.menuOptions {
    padding: 2px 7px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.hide {
    display: none;
}

.create-todo {
    position: relative;
}

.create-todo :hover {
    background-color: #ededed;
}

.create-todo:hover button {
    display: block;
}

.buttonDeleteRow,.buttonEditRow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: none;
    background-color:rgb(173, 173, 173);;
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: center;
    cursor: pointer;
}

.buttonEditRow{
    right: 70px;
}

.buttonDeleteRow:hover{
    background-color: rgb(146, 140, 140);
}

.buttonEditRow:hover{
    background-color: rgb(146, 140, 140);
}

#clearAll,
#clearComplited {
    margin-left: 20px;
    padding: 6px;
    background-color: rgb(173, 173, 173);
    border: none;
    color: white;
    cursor: pointer;
}

#clearComplited:hover{
    background-color: rgb(146, 140, 140);
}
#clearAll:hover{
    background-color: rgb(146, 140, 140);
}

@keyframes open {
    0% {
      transform: scale(5) rotate(0);
      opacity: 0;
    }
    50% {
      transform: scale(1) rotate(-0.2deg);
      opacity: 1;
    }
    75% {
      transform: scale(1) rotate(0.2deg);
      opacity: 1;
      transform: translate(-50%,-50%);
    }
    100% {
      transform: scale(1) rotate(0);
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

.popup{
    position: absolute;
    width: 330px;
    min-height: 220px;
    border-radius: 7px;
    border: 2px solid #e2e1e1;
    background-color: #f5f5f5;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    box-shadow: 0 7px 20px 5px rgb(221 215 215);
    /* animation: open 0.7s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards; */
}

.popup textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    background-color: #eeeeee;
    font-size: 18px;
    resize: none;
    border: none;
    outline: none;
    
}

.root_form{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    opacity: 0.4;
    z-index: 9;
}

.submitEdit{
   position: absolute;
   bottom: 25px;
   right: 10px;
   border-radius: 5px;
   width: 65px;
   height: 35px;
   border: none;
   color: white;
   cursor: pointer;
   background-color: rgb(173, 173, 173);

}
.submitEdit:hover{
    background-color: rgb(146, 140, 140);
}

.cancelEdit{
    position: absolute;
    bottom: 25px;
    right: 85px;
    border-radius: 5px;
    width: 65px;
    height: 35px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(173, 173, 173);
}

.cancelEdit:hover{
    background-color: rgb(146, 140, 140);
}

